.submenu {
  list-style: none;
  margin: 0;
  padding: 39px 56px 77px 29px;
  border-radius: 20px 0px 20px 20px;
  background: #c4c4c4;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -392px;
  width: 317px;
  display: block;
  z-index: 5;
  transition: 0.5s linear;
}
